<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>Thông tin tài khoản</h1>
			</div>
		</div>
	</div>
</section>
        <!-- LOCAL INFORMATION -->
		
		<div class="container">
			<div class="row">
        <div class="col-sm-6 col-sm-offset-3 ">
						{{#if succsess_msg }}
								<div class="alert alert-info">
										<p>{{succsess_msg}}</p>
								</div>
						{{/if}}
            <div class="well">
                <h3><span class="fa fa-user"></span>Tài khoản</h3>
									<form action="/admin/user/{{user._id}}/sua-user-by-user.html" method="post">
                    <p>
                        <strong>Id</strong>: {{user._id }}<br>
                        <strong>Email</strong>:
												{{user.email}}
												 <br>
												<strong>Họ</strong>:
													<input class="form-control" style="border: none;" type="text" name="hovachulot" id="hovachulot" value="{{user.firstname}}"> <br>
												<strong>Tên đệm và tên</strong>:
													<input class="form-control" style="border: none;" type="text" name="ten" id="ten" value="{{user.lastname }}"> <br> 
												<strong>Tên đăng nhập</strong>: 
													<input class="form-control" style="border: none;" type="text" name="tendangnhap" id="tendangnhap" value="{{user.username}}"> <br>
												<strong>Số điện thoại</strong>: 
													<input class="form-control" style="border: none;" type="text" name="sodienthoai" id="sodienthoai" value="{{user.phone}}"><br>
												<strong>Địa chỉ</strong>: 
													<input class="form-control" style="border: none;" type="text" name="address" id="address" value="{{user.address}}"><br>
												<strong>Thành phố</strong>: 
													<input class="form-control" style="border: none;" type="text" name="city" id="city" value="{{user.city}}"><br>
												<strong>Chức vụ</strong>: {{user.roles}}
                    </p>
										<button class="btn btn-info" type="submit">Lưu</button>
									</form>


            </div>
        </div>
</div>
    </div>
